/**
 * CSS Reset with credits to
 * [Ire Aderinokun](https://bitsofco.de/my-css-reset-base/)
 *
 * This is a slight modification of Ire's CSS reset
 */

/* Margins, borders and padding */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  border: 0;
  padding: 0;
}

/* Typography */
/* Base: 16px */
html {
  font-size: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* Layout and box-sizing */
article,
aside,
footer,
header,
nav,
section,
main {
  display: block;
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: inherit;
}

/* Specific element styles */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

ol,
ul {
  list-style: none;
}

img,
video {
  max-width: 100%;
}

img {
  border-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

/* Attributes and states */
[hidden] {
  display: none !important;
}

[disabled] {
  cursor: not-allowed;
}

:focus:not(:focus-visible) {
  outline: none;
}

body {
  background: #b6c9bb;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

.title {
  font-family: 'EB Garamond', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #697268;
}

.link-list {
  margin-top: 1rem;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.link-list-item {
  display: inline-block;
}

.link-list-item + .link-list-item {
  margin-top: 0.5rem;
}

.link {
  color: #697268;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

@media (min-width: 576px) {
  .title {
    font-size: 3rem;
  }

  .link-list {
    flex-flow: row nowrap;
    align-items: baseline;
    justify-content: space-around;
  }

  .link-list-item + .link-list-item {
    margin-left: 0.5rem;
  }
}
